# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
ENV/
env/
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# IDEs
.vscode/
.idea/

# Environment variables / secrets
.env
.env.*

# OS
Thumbs.db
.DS_Store
